@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/typography" as *;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
body {
  background-color: rgb(54, 50, 50);
  font-family: "Lato";
  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
  color: white;
  h1 {
    font-size: 2rem;
    padding-left: 20rem;
    padding-top: 2rem;
    color: white;
  }
}
.location-form {
  padding-bottom: 2rem;
  padding-left: 20rem;
  &__city {
    padding: 1rem;
    width: 50%;
  }
  &__button {
    background-color: black;
    border-radius: 0.5rem;
    color: white;
    padding: 1rem;
    text-transform: uppercase;
    border: 1px solid grey;
  }
}
.cocktail-referral {
  height: 30rem;
  // border: 3px solid black;
  padding-left: 5rem;
  &__info img {
    width: 50%;
    height: 50%;
    border-radius: 5rem;
    border: 2px solid lightgrey;
    // padding-left: 40rem;
  }
  &__name {
    display: flex;
    color: white;
    transform: translate(50%, 50%);
    margin-left: 300px;
  }
  &__button {
    background-color: black;
    border-radius: 0.5rem;
    color: white;
    padding: 1rem;
    text-transform: uppercase;
    margin-left: 15rem;
    border: 1px solid grey;
  }
}
